
@{
    ViewBag.Title = "ASP.NET MVC Text Files Lab";
}

<h2>@ViewBag.title</h2>

<p>Contents for @Model[0]:</p>
@{ 
    for (int i = 1; i < Model.Count; i++)
    {
        <p>@Model[i]</p>
    }
}

--- <br/>
@Html.ActionLink("Go back to TextFiles list", "Index", "Files")
