
@{
    ViewBag.Title = "ASP.NET MVC Text Files Lab";
}

<h2>@ViewBag.title</h2>

<p>File contents:</p>
@foreach (var fileContents in Model)
{
    <p>@fileContents</p>
}

--- <br/>
@Html.ActionLink("Go back to TextFiles list", "Index", "Files")
