
@{
    ViewBag.Title = "ASP.NET MVC Text Files Lab";
}

<h2>@ViewBag.title</h2>

<p>Contents for @Model[1]:</p>
<p>@Model[0]</p>

--- <br/>
@Html.ActionLink("Go back to TextFiles list", "Index", "Files")
