@model string[]
@{
    ViewBag.Title = "ASP.NET MVC Text Files Lab";
}

<h2>@ViewBag.Title</h2>

<ul>
    @foreach (var file in Model)
    {
        <li>@Html.ActionLink(file, "Display", new { id = Path.GetFileNameWithoutExtension(file).ToLower() })</li>

    }
</ul>
